@using Dominio;
@model IEnumerable<Peon>;
<h1>Lista de Peones</h1>



<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Nombre
            </th>
            <th>
                Email
            </th>
            <th>
                Fecha de ingreso
            </th>
            <th>
                Residente?
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @item.Id
                </td>
                <td>
                    @item.Nombre
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    @item.FechaIngreso
                </td>
                <td>
                    @if (item.Residente)
                    {
                        <span>Si</span>
                    }
                    else
                    {
                        <span>No</span>
                    }
                </td>
                <td>
                    @Html.ActionLink("Ver tareas", "VerTareas","Tarea", new { id = item.Id }) |
                    @Html.ActionLink("Asignar Tarea", "AsignarTareas","Tarea", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>